PyMuPDF

# Your other dependencies here
buildozer
Cython==0.29.21
virtualenv

# Specify kivy with an older pip version due to metadata issue
pip<24.1
kivy[uix]

# Note: For liblzma-dev, it's typically handled outside of requirements.txt
# as it's a system library installed via apt-get. It's not managed by pip.
